server {
  listen $PORT default_server;
  include /etc/nginx/mime.types;

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }

  location \assets\.css {
    add_header  Content-Type    text/css;
  }

  location \assets\.js {
      add_header  Content-Type    application/x-javascript;
  } 
}
